/* CSS reset */
/*{
    margin: 0;
    padding: 0;
}*/

header, footer, nav, div, section, .profilebox {
    display: block;
}

body {
    margin: 0 auto;  
    width: 940px;
    height: 100%;
    font: 13px/22px Helvetica, Arial, sans-serif;  
    background: #f0f0f0;
}

h1 {
    margin: 25px;
}

h2 {
    font-size: 26px;
    line-height: 44px;
    padding: 20px;
}

h3 {
    font-size: 18px;
    line-height: 22px;
    padding: 10px;
}

p {
    padding-bottom: 20px;
}

header {
    text-indent: -100px;
    /*background: url(../img/blend.png);
    background-position: 250px 0px;*/
}

nav, footer {
    position: absolute;
    left: 0px;
    width: 100%;
    background-color: #111111;
}

nav ul, footer ul {
    margin: auto;
    width: 940px;
    list-style: none;
}

nav ul li {
    float: left;
    display: block;  
    margin-right: 20px;  
    width: 160px;  
    font-size: 18px;  
    line-height: 44px;
    text-align: center;
}

nav ul li a {
    /* Om de standaard link-styling te verwijderen. */
    text-decoration: none;
}

nav ul li a:link, nav ul li a:visited {
    color: #797979;
}

nav ul li a:hover, nav ul li a:active {
    color: #f9f9f9;
}

footer {
    position: absolute;
    bottom: 0px;
}

footer ul li {
    float: left;
    display: inline-block;
    padding: 0px 15px;
    margin: 10px 0px;
    border-left: 1px solid #ffffff;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #f9f9f9;
}

footer ul li:first-child {
    border: 0;
}

footer ul li a {
    text-decoration: none; /* Om de link-styling te verwijderen. */
}

footer ul li a:link, footer ul li a:visited, nav ul li a:active {
    color: #f9f9f9;
}

footer ul li a:hover {
    text-decoration: underline;
}

#loginbox {
    position: absolute;
    top: 10px;
    right: 35px;
    width: 520px;
    height: 44px;
    border: 3px solid #f9f9f9;
    /* Border-radius is nog niet overal geïmplementeerd */
    -moz-border-radius: 2px;  
    -webkit-border-radius: 2px;  
    border-radius: 2px;
    padding-left: 5px;
}

#showcase {
    position: relative;
    margin: 120px 0 120px;
    padding: 20px;
    height: 380px;
    /*background: #669639;*/
    background: url(../img/happy-couple5.jpeg) no-repeat;
    /* Border-radius is nog niet overal geïmplementeerd */
    -moz-border-radius: 30px;  
    -webkit-border-radius: 30px;  
    border-radius: 30px;
}

#showcase #menu {
    position: absolute;
    bottom: 20px;
    left: 50px;
    color: #f9f9f9;
}

#showcase #register {
    position: absolute;
    top: 40px;
    right: -30px;
    width: 320px;
    height: 420px;
    background: #C48240;
    border: 5px solid #CC8742;
    border-right: 0px;
    border-bottom: 0px;
    box-shadow: 12px 10px 10px #858080;
    /*#CD7F32; /*url(http://media1.parship.com/static/redesign09/4.20.5//img/homepage/sprite_home.png) no-repeat 0 -232px; */
    /*background: url(../img/blend.png);*/
}

#profileboxes {
    height: 640px;
}

.profilebox {
    float: left;
    width: 280px;
    height: 220px;
    margin: 10px;
    background: #b0b0b0;
}

.error {
	color: red;
}

/** TODO */
#searchbrowsebuttons {
	
}

#next {
	
}

#previous {
	
}