@CHARSET "UTF-8";

* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%
}

body {
    width: 100%;
    min-width: 1200px;
    font: 13px/22px Helvetica, Arial, sans-serif;  
    background: #f0f0f0;
    /*
    	Op elke pagina wordt de verticale scrollbar getoond. Dit om te voorkomen dat 
    	de gecentreerde layout heen en weer beweegd bij wel/geen scrollbar.
    */
    overflow-y: scroll;
}

/*
	De container bevat de gehele site inhoud. Het wordt gebruikt om de juiste
	deminsies waarin de inhoud opgehangen moet worden aan te geven.
*/
#container {
	position: relative;
	min-height: 100%;
	margin: 0 auto;
}

header, nav, section, footer, div {
	display: block;
}

h1 {
    padding: 25px;
}

h2 {
    font-size: 26px;
    line-height: 44px;
    padding: 20px;
}

h3 {
    font-size: 18px;
    line-height: 22px;
    padding: 10px;
}

p {
    padding-bottom: 20px;
}

.error {
	color: red;
}

/*
	De header
*/

header {
    height: 80px;
    text-indent: 140px;	
}

/*
	De styling van de navigation en van de footer lijken in veel opzichten op elkaar.
*/

nav, footer {
	/* De balken worden ingestelt op de breedte van het window en aan de linkerkant geplakt */
	width: 100%;
	left: 0px;
	background-color: #111111;
}

nav {
	margin-bottom: 40px;
}

footer {
	/* De footer wordt aan de onderkant van de pagina geplakt */
	position: absolute;
	bottom: 0;
	/* Door clear kunnen float elementen niet over de footer heen worden geplaatst */
	clear: both;
	/* En er wordt een margin aan de bovenkant geplaatst om afstand te bewaren tot de content */
	margin-top: 30px;
	clear: both;
}

nav ul, footer ul {
    /* Door de margin op auto te zetten, word de lijst naar het midden van de pagina gedreven */
    margin: 0 auto;
    /* De breedte wordt gelijkgezet aan de breedte van de body */
    width: 940px;
    /* De list-style wordt uitgezet, we gaan onze eigen stijl implementeren */
    list-style: none;
}

nav ul li, footer ul li {
	/* Alle objecten in de lijst worden achter elkaar gezet en weergegeven als block. */
    display: inline-block;
    text-align: center;
}

nav ul li {
    /*
    	Er wordt wat gedraaid aan de instellingen voor het goed weergeven van de tekst met 
    	voldoende ruimte eromheen.
    */
    width: 180px;  
    font-size: 18px;
    line-height: 44px;
}

footer ul li {
    /*
    	Om wat afstand om de projecetn heen te creëren wordt er links en rechts padding toegevoegd
    	en boven en onder margin.
    */
    padding: 0px 30px;
    margin: 10px 0px;
    /* En een linker-border wordt getoond om zo een schijdingslijntje tussen de objecten te tonen */
    border-left: 1px solid #ffffff;
    font-size: 16px;
    line-height: 18px;
    color: #f9f9f9;
}

footer ul li:first-child {
    /* Dat lijntje moet alleen tussen de items getoont worden, en dus niet bij de eerste */
    border: 0;
    margin-left: 180px;
}

nav ul li a, footer ul li a {
    /* Om de link-styling te verwijderen. */
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:link, nav ul li a:visited {
    color: #797979;
}

nav ul li a:hover, nav ul li a:active {
    color: #f9f9f9;
    font-weight: bold;
}

footer ul li a:link, footer ul li a:visited, nav ul li a:active {
    /* De link moet onder alle omstandigheden deze kleur behouden */
    color: #f9f9f9;
}

footer ul li a:hover {
    text-decoration: underline;
}

/*
	De loginbox
*/

#loginbox {
    position: absolute;
    top: 10px;
    right: 35px;
    width: 570px;
    max-width: 40%;
    min-height: 54px;
    border: 3px solid #f9f9f9;
    /* Border-radius is nog niet overal geïmplementeerd */
    -moz-border-radius: 3px;  
    -webkit-border-radius: 3px;  
    border-radius: 3px;
    padding-left: 5px;
}

/*
	De main content sectie
*/

#main {
	/* De margin wordt zo ingesteld dat de main content centreerd */
	margin: 0 auto 30px;
	/*
		Omdat de footer absolute gepositioneerd is, kan de main div eronder schuiven.
		Om dit te voorkomen, wordt er een onder-padding ingesteld
	*/
	padding-bottom: 50px;
	width: 940px;
}

/*
	De showcase van de hoofdpagina
*/

#showcase {
    position: relative;
    margin: 80px 0 120px;
    padding: 20px;
    height: 380px;
    background: url(../img/happy-couple5.jpeg) no-repeat;
    /* Border-radius is nog niet overal geïmplementeerd */
    -moz-border-radius: 30px;  
    -webkit-border-radius: 30px;  
    border-radius: 30px;
}


#showcase #menu {
    position: absolute;
    bottom: 20px;
    left: 50px;
    color: #f9f9f9;
}

#showcase #register {
    position: absolute;
    top: 40px;
    right: -30px;
    width: 320px;
    height: 420px;
    background: #C48240;
    border: 5px solid #CC8742;
    border-right: 0px;
    border-bottom: 0px;
    box-shadow: 12px 10px 10px #858080;
}

/*
	Profile boxes
*/

#profileboxes {
	margin-bottom: 30px;
	/* overflow:hidden zorgt ervoor dat de container om floated objecten heen past */
	overflow: hidden;
}

.profilebox {
    float: left;
    width: 280px;
    height: 220px;
    margin: 10px;
    background: #c0c0c0;
}

/*
	Search form and functions
*/

/** TODO */
#searchbrowsebuttons {
	
}

#next {
	
}

#previous {
	
}

/*
	(Register)form
*/

#registerblock {
	position: relative;
	top: 150px;
	left: 40px;	
}


